.signin-button, .signup-button {
	cursor: pointer;
	background-color: #940707; /* Active color */
	flex: 1;
	text-align: center;
}

.active {
	background-color: red;
}

.auth-form {
	width: 300px;
	display: flex;
	margin-top: 20px;
}

.signin-submit-button {
	margin-left: auto;
}

.login-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.auth-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
