nav {
	display: flex;
	justify-content: space-between;
	color: white;
	background-color: black;
	padding: 10px;
	align-items: center;
}

.nav-right {
	display: flex;
	align-items: center;
	gap: 30px;
	margin-right: 20px;
}

.logout {
	color: red;
	cursor: pointer;
}

.avatar {
	border-radius: 50%;
	max-width: 100%;
	height: 40px;
	width: 40px;
	border: solid 2px red;
}

.logout-icon {
	margin-right: 5px;
}
