* {
	margin: 0;
	padding: 0;
}

.faUser {
	color: pink;
	margin-right: 1%;
}

.general-input,
.select-input {
	display: block;
	margin-top: 1%;
	border: none;
	border-bottom: solid rgb(197, 0, 0) 1px;
	width: 300px;
	margin-bottom: 10px;

}

.general-input:focus,
.select-input:focus,
.search-bar:focus {
	outline: none;
}

.button {
	border: none;
	background-color: rgb(197, 0, 0);
	color: white;
	font-size: 16px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 1%;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.search-bar-container {
	margin-top: 1%;
	width: 300px;
	position: relative;
}

.search-icon {
	position: absolute;
	top: 50%;
	left: 10px;
	transform: translateY(-50%);
	color: gray;
	transition: color 0.3s;
    }

.search-bar {
	width: 100%;
	padding: 9px 4px 9px 40px;
	background-color: black;
	background-size: 20px;
	color: white;
	border: none;
	border-radius: 4px;
	outline: none;
	transition: background-color 0.3s, color 0.3s;
	cursor: pointer;
}

.search-bar::placeholder {
	color: gray;
	transition: color 0.3s;
    }

.search-bar:hover + .search-icon, /* Icon should also change on hover of input */
.search-bar:hover::placeholder {
    color: white;
    background-color: black;
}

.search-bar-container:hover .search-icon {
    color: white;
}
